<%= content_for(:title, t("views.app_name")) %>

<div class="row">
  <div class="jumbotron">
    <h1><%= t("views.pages.index.app_name") %></h1>
    <p><%= t("views.pages.index.app_description") %></p>
    <p><a class="btn btn-info btn-lg" href="#" role="button"><%= t("views.read_more") %></a></p>
  </div>
</div>